<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar" id="myNavbar">
        <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);"
            onclick="toggleFunction()" title="Toggle Navigation Menu">
            <i class="fa fa-bars"></i>
        </a>
        <a href="#home" class="w3-bar-item w3-button"><i class="fas fa-home"></i> INICIO</a>
        <a href="#about" class="w3-bar-item w3-button w3-hide-small"><i class="fas fa-user-tie"></i> ACERCA DE</a>
        <a href="#portfolio" class="w3-bar-item w3-button w3-hide-small"><i class="fas fa-layer-group"></i>
            PORTAFOLIO</a>
        <a href="#contact" class="w3-bar-item w3-button w3-hide-small"><i class="fas fa-comments"></i> CONTACTO</a>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block bg-site w3-hide w3-hide-large w3-hide-medium">
        <a href="#about" class="w3-bar-item w3-button" onclick="toggleFunction()">ACERCA DE</a>
        <a href="#portfolio" class="w3-bar-item w3-button" onclick="toggleFunction()">PORTAFOLIO</a>
        <a href="#contact" class="w3-bar-item w3-button" onclick="toggleFunction()">CONTACTO</a>
    </div>
</div>