/* Custom Properties */

:root {
    --bg-primary: #0072ff;
    --bg-bars: #85ea28;
    --bg-purple: #020202d1;
    --bg-body: #002f83;
    --font-verse: 'Maven Pro', sans-serif;
    --font-general: 'Prompt', sans-serif;
}


/** Styles w3schools **/

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-general);
}

body,
html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

body {
    background-color: var(--bg-body);
    color: #fff;
}


/* Create a Parallax Effect */

.bgimg-1,
.bgimg-2,
.bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* First image (Logo. Full height) */

.bgimg-1 {
    background-image: url('/assets/img/img-home.jpg');
    min-height: 100%;
}


/* Second image (Portfolio) */

.bgimg-2 {
    background-image: url("/assets/img/img-portfolio.jpg");
    min-height: 400px;
}


/* Third image (Contact) */

.bgimg-3 {
    background-image: url("/assets/img/img-contact.jpg");
    min-height: 400px;
}

.w3-wide {
    letter-spacing: 10px;
}

.w3-hover-opacity {
    cursor: pointer;
}


/* Turn off parallax scrolling for tablets and phones */

@media only screen and (max-device-width: 1600px) {
    .bgimg-1,
    .bgimg-2,
    .bgimg-3 {
        background-attachment: scroll;
        min-height: 400px;
    }
}


/** Verse Styles**/

.verse {
    font-family: var(--font-verse);
    font-weight: 500;
    font-size: 1.5rem;
}

.cite {
    font-size: 2rem;
    font-weight: 700;
}

@media (max-width: 768px) {
    .verse {
        width: 100%;
        line-height: 1.8;
        font-size: 1rem;
        letter-spacing: 5px;
        /* font-size: 2vw; */
    }
    .cite {
        font-size: 1rem;
    }
}


/** Styles **/

.bg-site {
    background-color: var(--bg-primary);
}

.bg-bars {
    background-color: var(--bg-bars);
}

.bg-purple {
    background-color: var(--bg-purple);
}

.bg-body {
    background-color: var(--bg-body);
}

#myNavbar {
    color: #fff;
}

.technology {
    font-size: 5rem;
}